<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>Data Analyzer</title>
</head>
<body>
    <!-- Header -->
    <header>
        <img src="{{ url_for('static', filename='images/icon.png') }}" alt="" class="logo">
        <h3 class="title">Data Analyzer</h3>
    </header>

    <!-- Main -->
    <main class="centered">
        <h1>Enter URLs to Compare Products</h1>
        <form action="/api/comparative" method="post" onsubmit="submitForm(event)">
            <div class="input-container">
                <div class="input-group">
                    <input type="text" id="url1" name="url1" placeholder="Enter URL 1" required>
                    <div id="result1" class="cl-result"></div>
                </div>
                <div class="input-group">
                    <input type="text" id="url2" name="url2" placeholder="Enter URL 2" required>
                    <div id="result2" class="cl-result"></div>
                </div>
            </div>
            <button type="submit" class="btn" id="submit">Compare</button>
        </form>
        <div>
            <button id="backButton" style="display: none;">Back</button>
            <h1 id="f-title" class="h1-dynamic" style="display: none;">Data Analysis</h1>
            <div id="result"></div>
        </div>
    </main>
    
    <!-- Footer -->
    <footer class="footer">
        <ul class="social-icon">
          <li class="social-icon__item"><a class="social-icon__link" href="#">
              <ion-icon name="logo-facebook"></ion-icon>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" href="#">
              <ion-icon name="logo-twitter"></ion-icon>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" href="#">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" href="#">
              <ion-icon name="logo-instagram"></ion-icon>
            </a></li>
        </ul>
        <p>&copy; 2024 FAF | All Rights Reserved</p>
    </footer>
    <!-- Scripts -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script>
        function submitForm(event) {
            event.preventDefault();
            const url1 = document.getElementById('url1').value;
            const url2 = document.getElementById('url2').value;

            fetch('/api/comparative', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ url1: url1, url2: url2 })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result').innerHTML = '<p>' + JSON.stringify(data, null, 2) + '</p>';
            })
            .catch(error => console.error('Error:', error));
        }
        document.getElementById('url1').addEventListener('paste', function(event) {
            let paste = (event.clipboardData || window.clipboardData).getData('text');
            fetch('/api/auto-submit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ link: paste })
            })
            .then(response => response.json())
            .then(data => {
                if (data.image) {
                    // Assuming you want to display the first image
                    document.getElementById('result1').innerHTML = `<img src="${data.image}" alt="Loaded Image" />`;
                } else {
                    console.error('No image data received.');
                }
            })
            .catch(error => console.error('Error:', error));
        });
        document.getElementById('url2').addEventListener('paste', function(event) {
            let paste = (event.clipboardData || window.clipboardData).getData('text');
            fetch('/api/auto-submit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ link: paste })
            })
            .then(response => response.json())
            .then(data => {
                if (data.image) {
                    // Assuming you want to display the first image
                    document.getElementById('result2').innerHTML = `<img src="${data.image}" alt="Loaded Image" />`;
                } else {
                    console.error('No image data received.');
                }
            })
            .catch(error => console.error('Error:', error));
        });

        document.getElementById('backButton').addEventListener('click', function() {
            document.getElementById('backButton').style.display = 'none';
        });
    </script>
</body>
</html>
